body {
  font:12pt "Myriad Pro";
  margin: 5;
}

a {
  color: white;
}

h1 a {
  color: black;
}

h3 {
  background: #DB9C39;
  color: white;
  padding: 20px;
  margin: 0;
  border-bottom: 3px solid #343434;
}

section {
  display: block;
  border: 3px solid #343434;
  margin-bottom: 10px;
  -moz-border-radius: 10px;
}

section div {
  margin-top: 10px;
  padding: 20px;
}

pre, code {
  background: #DECAAB;
  padding: 3px;
}
/*
.hidden {
  display: none;
}*/